/var/log/audit/audit.log {
    daily
    missingok
    dateext
    notifempty
    sharedscripts
    rotate 10
    compress
    delaycompress
    postrotate
        /usr/bin/systemctl kill -s USR1 auditd.service >/dev/null 2>&1 || true
    endscript
}
