server {
    listen      80;
    # server_name example.com;
    set             $base /var/www/app;
    root            $base{{ nginx_app_extra_root_path | default("/www") }};
    
    # security
    include     /etc/nginx/conf.d/security.conf;

    # logging
    access_log  /var/log/nginx/access.log combined buffer=512k flush=1m;
    error_log   /var/log/nginx/error.log warn;

    # reverse proxy
    location / {
        proxy_pass            http://127.0.0.1:{{nginx_proxy_pass_port|default("3000")}};
        include               /etc/nginx/conf.d/proxy.conf;
    }
    location /health_check {
        allow           127.0.0.1;
        allow           172.16.0.0/16;
        deny            all;

        set $is_healthy  0;

        #frontend
        if (-d /var/www/app/frontend/) {
            set $is_healthy  1;
        }

        #backend
        if (-d /var/www/app/backend/) {
            set $is_healthy  1;
        }

        if ($is_healthy = 1) {
            return 200;
        }

        return 404;
    }    

    # additional config
    include /etc/nginx/conf.d/general.conf;
}
